/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

button {
  margin-left: 20px;
}

input {
  margin-right: 20px;  
}

td, th {
    padding: 5px;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 0;
}

.footer > .container {
  padding-right: 0px;
  padding-left: 0px;
}

code {
  font-size: 80%;
}


/*Pagination*/


.pagination > li > a
{
    background-color: white;
    color: gray;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: gray;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #17a2b8!important;
    border: solid 1px #17a2b8!important;
}

.pagination > .active > a:hover
{
    background-color: darkgray!important;
    border: solid 1px darkgray!important;
}


small {
    font-size: 20px;
}

/*btn-group a {
    background-color: transparent
}*/
