<header ng-include="'js/app/header.html'"></header>
<main role="main" class="container">

    <form name="userForm" class="mx-auto p-5" style="margin-top: 100px; margin-bottom: 100px; background-color: GhostWhite; width: 70%; border-radius: 7px"> 
        <h3 class="pb-3">Login Usuario</h3>

        <div class="form-group row"> 
            <label for="login" class="col-form-label">Login</label>
            <input ng-model="login" class="form-control" name="login" type="text" ng-required="true" />
<!--            <div ng-show="userForm.login.$error.minlength" class="alert alert-danger" role="alert">
                La longitud del login es demasiado corta
            </div>-->
<!--            <div ng-show="!userForm.login.$valid" class="alert alert-danger" role="alert">
                Login obligatorio
            </div>-->
        </div>

        <div class="form-group row">
            <label>Password</label>
            <input type="password" class="form-control" ng-class="{' is-invalid': userForm.pass.$invalid && !userForm.pass.$pristine}"
                   id="pass" name="pass" ng-model="pass" ng-required="true"/>
<!--            <div ng-show="userForm.pass.$error.minlength" class="alert alert-danger" role="alert">
                La longitud de la constraseña es demasiado corta
            </div>-->
<!--            <div ng-show="!userForm.pass.$valid" class="alert alert-danger" role="alert">
                Contraseña obligatoria
            </div>-->
        </div>


        <button ng-click="log()" class="btn btn-primary">Login</button>
        
        <h3 ng-show="error == true">Datos erróneos.</h3>
    </form>

</main>

<footer class="footer" ng-include="'js/app/footer.html'"></footer>