<header ng-include="'js/app/header.html'"></header>
<main role="main" class="container">

    <form name="userForm" class="mx-auto p-5" ng-show="!new"
          style="margin-top: 100px; margin-bottom: 100px; background-color: GhostWhite; width: 70%; border-radius: 7px"> 
        <h3 class="pb-3">Nuevo Usuario</h3>

        <!--        <div class="form-group row"> 
                    <label for="id" class="col-form-label">Id</label>
                    <input ng-model="id" class="form-control" name="id" type="text" ng-disabled="true" />
                </div>-->


        <div class="form-group"> 
            <div class="form-group">
                <label for="dni" class="col-form-label">DNI:</label>
                <input id="dni" ng-model="dni" class="form-control" ng-class="{'is-invalid': userForm.dni.$invalid && !userForm.dni.$pristine}"
                       name="dni" type="text" ng-required="true" ng-pattern="/^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKET]$/" 
                       placeholder="Introduce un DNI..."/>
                <div ng-show="userForm.dni.$error.pattern" class="alert alert-danger" role="alert">
                    Formato DNI no valido
                </div>
                <div ng-show="!userForm.dni.$valid && userForm.nombre.$dirty && !userForm.nombre.$pristine" class="alert alert-danger" role="alert">
                    DNI obligatorio
                </div>
            </div>
        </div>

        <div class="form-group"> 
            <label for="nombre" class="col-form-label">Nombre:</label>
            <input id="nombre" ng-model="nombre" class="form-control" ng-class="{'is-invalid': userForm.nombre.$invalid && !userForm.nombre.$pristine}"
                   name="nombre" type="text" ng-required="true" placeholder="Introduce un nombre..." />
            <div ng-show="!userForm.nombre.$valid && userForm.nombre.$dirty && !userForm.nombre.$pristine" class="alert alert-danger" role="alert">
                Nombre obligatorio
            </div>
        </div>

        <div class="form-group"> 
            <label for="ape1" class="col-form-label">Primer apellido:</label>
            <input id="ape1" ng-model="ape1" class="form-control" ng-class="{'is-invalid': userForm.ape1.$invalid && !userForm.ape1.$pristine}"
                   name="ape1" type="text" ng-required="true" placeholder="Introduce un apellido..." />
            <div ng-show="!userForm.ape1.$valid && userForm.ape1.$dirty && !userForm.ape1.$pristine" class="alert alert-danger" role="alert">
                Apellido obligatorio
            </div>
        </div>

        <div class="form-group"> 
            <label for="ape2" class="col-form-label">Segundo apellido:</label>
            <input ng-model="ape2" class="form-control" ng-class="{'is-invalid': userForm.ape2.$invalid && !userForm.ape2.$pristine}"
                   name="ape2" type="text" ng-required="true" placeholder="Introduce un apellido..." />
            <div ng-show="!userForm.ape2.$valid && userForm.ape2.$dirty && !userForm.ape2.$pristine" class="alert alert-danger" role="alert">
                Apellido obligatorio
            </div>
        </div>


        <div class="form-group">
            <label for="pass">Password:</label>
            <input id="pass" type="password" class="form-control" ng-class="{' is-invalid': userForm.pass.$invalid && !userForm.pass.$pristine}"
                   name="pass" ng-model="pass" ng-required="true" ng-minlength="5" placeholder="Introduce una contraseña..."/>

            <!--            <div ng-show="userForm.pass.$error.minlength" class="alert alert-danger" role="alert">
                            La longitud de la constraseña es demasiado corta, introduce 6 carácteres mínimo
                        </div>-->
            <div ng-show="!userForm.pass.$valid && userForm.pass.$dirty && !userForm.pass.$pristine" class="alert alert-danger" role="alert">
                Contraseña obligatoria
            </div>
        </div>


        <div class="form-group"> 
            <label for="login" class="col-form-label">Nombre Usario:</label>
            <input id="login" type="text" class="form-control"  ng-class="{'is-invalid': userForm.login.$invalid && !userForm.login.$pristine}"
                   name="login" ng-model="login" ng-required="true" ng-minlength="5" placeholder="Introduce nombre usuario..."/>

            <div ng-show="userForm.login.$error.minlength" class="alert alert-danger" role="alert">
                La longitud del login es demasiado corto
            </div>           
            <div ng-show="!userForm.login.$valid && userForm.login.$dirty && !userForm.login.$pristine" class="alert alert-danger" role="alert">
                Nombre usuario obligatorio
            </div>
        </div>

        <!--        <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Id Tipo Usuario</label>
                    </div>
                    <select class="custom-select" id="idTU" ng-model="selectedId">
                        <option selected>--Selecciona--</option>
                        <option ng-repeat="opcion in arrayTipos" value="{{opcion}}">{{opcion}}</option>
                    </select>
                </div>-->


        <div class="form-group">
            <label>Tipo Usuario</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="obj_tipoUsuario.desc" name="obj_tipoUsuario.desc" ng-model="obj_tipoUsuario.desc"
                       ng-click="modal()" disabled/>
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#cadd-location-modal">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>


        <!--          <select class="selector" ng-change="update()"ng-change="update()" ng-model="selectedItem">
                        <option>Ordenar...</option>
                        <option value="codigo">Ordenar por código</option>
                        <option value="desc">Ordenar por descripción</option>
                        <option value="existencias">Ordenar por existencias</option>
                        <option value="precio">Ordenar por precio</option>
                        <option value="id_tipoProducto">Ordenar por tipo producto</option>
                    </select>-->



        <button ng-click="guardar()" class="btn btn-info mt-2 ml-0">Guardar</button>
    </form>


    <div class="row" ng-show="new">
        <div class="col-12">
            <div class="card mx-auto" style="margin-top: 100px; background-color: GhostWhite; width: 70%; border: none; border-radius: 7px">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">{{resultado}}</h4>
                    <div class="d-flex justify-content-center align-items-center pt-3 pb-2 mb-3" role="alert">
                        <button type="button" class="btn btn-info" onclick="window.history.back()">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>

<footer class="footer" ng-include="'js/app/footer.html'"></footer>

<!--Componenete modal-->
<cadd-modal-var class="modal fade ng-isolate-scope" id="cadd-location-modal" tabla="'tipousuario'" data="obj_tipoUsuario" aria-hidden="true"
                style="display: none;"></cadd-modal-var>