<header ng-include="'js/app/header.html'"></header>
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-12 px-4" style="margin-top: 50px">
            <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Usuarios</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                     <button type="button" class="btn btn-light" ng-click="resetOrder()">
                                <i class="fa fa-eye"></i>
                            </button>
                    <div class="btn-group" style="width:400px;">
                        <p class="mt-2" style="width:200px;">Selecciona RPP: </p>
                        <select class="form-control" 
                                ng-change="update()" 
                                ng-model="rpp">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--            <div class="row">
                            <div class="col-6">
                                <nav aria-label="paginacion">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" ng-show="page > 1" href="usuario/plist/{{rpp}}/{{page - 1}}/{{order}}/{{align}}">Previous</a>
                                        </li>
                                        <li class="page-item" ng-class="{'active':(p == page)}" ng-repeat="p in list">
                                            <a class="page-link" href="usuario/plist/{{rpp}}/{{p}}/{{order}}/{{align}}">{{p}}</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" ng-show="page != totalPages" href="usuario/plist/{{rpp}}/{{page--1}}/{{order}}/{{align}}">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>-->
            <div class="row">
                <div class="col-6">
                    <nav aria-label="paginacion">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" ng-show="page > 2" href="usuario/plist/{{rpp}}/1/{{order}}/{{align}}">First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" ng-show="page > 1" href="usuario/plist/{{rpp}}/{{page - 1}}/{{order}}/{{align}}">Previous</a>
                            </li>
                            <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                                <a class="page-link" href="usuario/plist/{{rpp}}/{{p}}/{{order}}/{{align}}">{{p}}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" ng-show="page != totalPages" href="usuario/plist/{{rpp}}/{{page--1}}/{{order}}/{{align}}">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" ng-show="page != totalPages-1 && page != totalPages" href="usuario/plist/{{rpp}}/{{totalPages}}/{{order}}/{{align}}">Last</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>





            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <tr>
                        <th>
                            ID
                            <button type="button" class="btn btn-light" ng-click="ordena('id', 'asc')">
                                <i class="fas fa-long-arrow-alt-up"></i>
                            </button>
                            <button type="button" class="btn btn-light" ng-click="ordena('id', 'desc')">
                                <i class="fas fa-long-arrow-alt-down"></i>
                            </button>
                        </th>
                        <th>
                            DNI
                            <button type="button" class="btn btn-light" ng-click="ordena('dni', 'asc')">
                                <i class="fas fa-long-arrow-alt-up"></i>
                            </button>
                            <button type="button" class="btn btn-light" ng-click="ordena('dni', 'desc')">
                                <i class="fas fa-long-arrow-alt-down"></i>
                            </button>
                        </th>
                        <th>
                            Nombre
                            <button type="button" class="btn btn-light" ng-click="ordena('nombre', 'asc')">
                                <a class="fas fa-long-arrow-alt-up" ></a>

                            </button>
                            <button type="button" class="btn btn-light" ng-click="ordena('nombre', 'desc')">
                                <i class="fas fa-long-arrow-alt-down"></i>
                            </button>
                        </th>
                        <th>
                            Primer apellido
                            <button type="button" class="btn btn-light" ng-click="ordena('ape1', 'asc')">
                                <i class="fas fa-long-arrow-alt-up"></i>
                            </button>
                            <button type="button" class="btn btn-light" ng-click="ordena('ape1', 'desc')">
                                <i class="fas fa-long-arrow-alt-down"></i>
                            </button>
                        </th>
                        <th>
                            Segundo apellido
                            <button type="button" class="btn btn-light" ng-click="ordena('ape2', 'asc')">
                                <i class="fas fa-long-arrow-alt-up"></i>
                            </button>
                            <button type="button" class="btn btn-light" ng-click="ordena('ape2', 'desc')">
                                <i class="fas fa-long-arrow-alt-down"></i>
                            </button>
                        </th>
                        <th>
                            Nombre usuario
                            <button type="button" class="btn btn-light" ng-click="ordena('login', 'asc')">
                                <i class="fas fa-long-arrow-alt-up"></i>
                            </button>
                            <button type="button" class="btn btn-light" ng-click="ordena('login', 'desc')">
                                <i class="fas fa-long-arrow-alt-down"></i>
                            </button>
                        </th>
                        <th>
                            Tipo de usuario
                            <button type="button" class="btn btn-light" ng-click="ordena('id_tipoUsuario', 'asc')">
                                <i class="fas fa-long-arrow-alt-up"></i>
                            </button>
                            <button type="button" class="btn btn-light" ng-click="ordena('id_tipoUsuario', 'desc')">
                                <i class="fas fa-long-arrow-alt-down"></i>
                            </button>
                        </th>
                    </tr>
                    <tr ng-repeat="fila in ajaxDataUsuarios">
                        <td>{{fila.id}}</td>
                        <td>{{fila.dni}}</td>
                        <td>{{fila.nombre}}</td>
                        <td>{{fila.ape1}}</td>
                        <td>{{fila.ape2}}</td>
                        <td>{{fila.login}}</td>
                        <td>{{fila.id_tipoUsuario}}</td>
                    </tr>
                </table>

            </div>
        </main>
    </div>
</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>