<!DOCTYPE html>
<html lang="es" ng-app="MyApp">
    <head>
        <title>Trolleyes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-controller="MyController">
        <header ng-include="'header.html'"></header>
        <main role="main" class="container">
            <div ng-show="mostrar">HOLAAAAAAAAAAAA</div>
            <h1>El resultado de sumar 1+2 es {{1 + 2}}</h1>
            <h2>contenido de la variable:{{var1}}</h2>
            <input type="text" ng-model="var2" />
            <h3>{{var2}}</h3>
            <h3>Resultado de la llamada AJAX: {{ajaxData}}</h3>
            <button ng-disabled="activar" ng-click="toggle()">Cambio ver</button>
            <button ng-click="enable()">Cambio activar</button>
            <button ng-click="usuarios()">Mostrar tipos de usuario</button>
            <table>
                <tr>
                    <th>id</th>
                    <th>descripción</th>
                </tr>
                <tr ng-repeat="fila in ajaxDataUsuarios">
                    <td>{{fila.id}}</td>
                    <td>{{fila.desc}}</td>
                </tr>
            </table>
        </main>
        <footer class="footer" ng-include="'footer.html'"></footer>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script>
                    var MyModule = angular.module('MyApp', []);
                    MyModule.controller("MyController", ['$scope', '$http', function ($scope, $http) {
                            $scope.var1 = "Hola mundo";
                            $scope.var2 = "Hola qué tal";
                            $scope.mostrar = false;
                            $scope.activar = true;
                            $scope.ajaxData = "";
                            $scope.toggle = function () {
                                $scope.mostrar = !$scope.mostrar;
                            }
                            $scope.enable = function () {
                                $scope.activar = !$scope.activar;
                            }
                            $scope.usuarios = function () {
                                $http({
                                    method: 'GET',
                                    withCredentials: true,
                                    url: 'http://localhost:8081/trolleyes/json?ob=tipousuario&op=getpage&rpp=10&page=1'
                                }).then(function (response) {
                                    $scope.status = response.status;
                                    $scope.ajaxDataUsuarios = response.data.message;
                                }, function (response) {
                                    $scope.ajaxDataUsuarios = response.data.message || 'Request failed';
                                    $scope.status = response.status;
                                });
                            }
                            $http({
                                method: 'GET',
                                withCredentials: true,
                                url: 'http://localhost:8081/trolleyes/json?ob=tipousuario&op=get&id=2'
                            }).then(function (response) {
                                $scope.status = response.status;
                                $scope.ajaxData = response.data.message;
                            }, function (response) {
                                $scope.ajaxData = response.data.message || 'Request failed';
                                $scope.status = response.status;
                            });

                        }]);
        </script>
    </body>
</html>
