<!DOCTYPE html>
<html lang="es" ng-app="MyApp">
    <head>
        <title>Trolleyes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <!--<link rel="icon" href="../../../../favicon.ico">-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link href="css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-controller="MyController">
        <header ng-include="'header.html'"></header>
        <main role="main" class="container">

            <h3>Resultado de la llamada AJAX: En la BBDD hay {{ajaxData}} productos.</h3>


            <label for="rpp">Registro Por Página (RPP)</label>
            <input type="text" name="rpp" ng-model="varRPP" size="3" />

            <label  class="lab"  for="page">Página</label>
            <select ng-model="opPage" ng-click="paginas()">
<!--                <option selected value="--Selecciona--">--Selecciona--</option>-->
                <option ng-repeat="opcion in arraypage" value="{{opcion}}">{{opcion}}</option>
            </select>

            <button ng-click="productos()">Mostrar Productos</button>
            
            <button ng-click="crearProductos()">Crear Productos</button>

            <table>
                <tr>
                    <th>Id</th>
                    <th>Codigo</th>
                    <th>Descripción</th>
                    <th>Existencias</th>
                    <th>Precio</th>
                    <th>Tipo Producto</th>
                </tr>
                <tr ng-repeat="fila in ajaxDataProductos">
                    <td>{{fila.id}}</td>
                    <td>{{fila.codigo}}</td>
                    <td>{{fila.desc}}</td>
                    <td style="text-align: center">{{fila.existencias}}</td>
                    <td>{{fila.precio}}</td>
                    <td style="text-align: center">{{fila.id_tipoProducto}}</td>
                </tr>
            </table>


        </main>
        <footer class="footer" ng-include="'footer.html'"></footer>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script>
                    var MyModule = angular.module('MyApp', []);
                    MyModule.controller("MyController", ['$scope', '$http', function ($scope, $http) {

                            $scope.arraypage = "";
                            $scope.varRPP = 10;
                            $scope.ajaxData = "";

                            $scope.productos = function () {
                                $http({
                                    method: 'GET',
                                    withCredentials: true,
                                    url: 'http://localhost:8081/trolleyes/json?ob=producto&op=getpage&rpp=' + $scope.varRPP + '&page=' + $scope.opPage
                                }).then(function (response) {
                                    $scope.status = response.status;
                                    $scope.ajaxDataProductos = response.data.message;
                                }, function (response) {
                                    $scope.ajaxDataProductos = response.data.message || 'Request failed';
                                    $scope.status = response.status;
                                });
                            }

                            $scope.paginas = function () {
                                $http({
                                    method: 'GET',
                                    withCredentials: true,
                                    url: 'http://localhost:8081/trolleyes/json?ob=producto&op=getcount'
                                }).then(function (response) {
                                    $scope.status = response.status;
                                    $scope.ajaxData = response.data.message;
                                    var registros = $scope.ajaxData;
                                    var combo = registros / $scope.varRPP;
                                    combo = Math.ceil(combo);

                                    $scope.arraypage = ["--Selecciona--"];
                                    for (var i = 1; i <= combo; i++) {
                                        $scope.arraypage.push(i);
                                    }
                                }, function (response) {
                                    $scope.ajaxData = response.data.message || 'Request failed';
                                    $scope.status = response.status;
                                });
                            }

                            $http({
                                method: 'GET',
                                withCredentials: true,
                                url: 'http://localhost:8081/trolleyes/json?ob=producto&op=getcount'
                            }).then(function (response) {
                                $scope.status = response.status;
                                $scope.ajaxData = response.data.message;
                                var registros = $scope.ajaxData;
                                var combo = registros / $scope.varRPP;
                                combo = Math.ceil(combo);

                                $scope.arraypage = ["--Selecciona--"];
                                for (var i = 1; i <= combo; i++) {
                                    $scope.arraypage.push(i);
                                }
                            }, function (response) {
                                $scope.ajaxData = response.data.message || 'Request failed';
                                $scope.status = response.status;
                            });
                            
                            
                             $scope.crearProductos = function () {
                                $http({
                                    method: 'GET',
                                    withCredentials: true,
                                    url: 'http://localhost:8081/trolleyes/json?ob=producto&op=create'
                                }).then(function (response) {
                                    $scope.status = response.status;
                                    $scope.ajaxDataProductos = response.data.message;
                                }, function (response) {
                                    $scope.ajaxDataProductos = response.data.message || 'Request failed';
                                    $scope.status = response.status;
                                });
                            }
                            
                            
                        }]);
        </script>
    </body>
</html>
