<!DOCTYPE html>
<html lang="es" ng-app="MyApp">
    <head>
        <title>Trolleyes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <!--<link rel="icon" href="../../../../favicon.ico">-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link href="css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-controller="MyController">
        <header ng-include="'header.html'"></header>

        <main role="main" class="container">

            <form>

                <div class="mx-auto mt-3 pl-5 pr-5 pb-5 pt-4 ml-5 mr-5" style="background-color: #D8F781; width: 70%; border-radius: 7px">
                    <h3>Resultado de la llamada AJAX: </h3>
                    <h5>En la BBDD hay {{ajaxData}} productos</h5>

                    <div class="form-row mt-4">
                        <div class="form-group col-md-5">         
                            <label for="rpp">Registro Por Página (RPP)</label>
                            <input class="form-control" type="text" name="rpp" ng-model="varRPP" />
                        </div>

                        <div class="form-group col-md-7">
                            <label  class="lab"  for="page">Página</label>
                            <select class="form-control" ng-model="opPage" ng-click="paginas()">
                                <option ng-repeat="opcion in arraypage" value="{{opcion}}">{{opcion}}</option>
                            </select>
                        </div>
                    </div>        

                    <button class="btn btn-info ml-0" ng-click="productos()">Mostrar Productos</button>
                    <button class="btn btn-light" ng-click="productosLimpiar()">limpiar Productos</button>
                    <button class="btn btn-dark" ng-click="crearProductos()">Crear Productos</button>               

                </div>

            </form>


            <div class="row form-group text-center">
                <table class="table table-striped mx-auto mt-3" style=" width: 70%;">
                    <tr>
                        <th>Id</th>
                        <th>Codigo</th>
                        <th>Descripción</th>
                        <th>Existencias</th>
                        <th>Precio</th>
                        <th>Tipo Producto</th>
                    </tr>
                    <tr ng-repeat="fila in ajaxDataProductos">
                        <td>{{fila.id}}</td>
                        <td>{{fila.codigo}}</td>
                        <td>{{fila.desc}}</td>
                        <td style="text-align: center">{{fila.existencias}}</td>
                        <td>{{fila.precio}}</td>
                        <td style="text-align: center">{{fila.id_tipoProducto}}</td>
                    </tr>
                </table>
            </div>

        </main>

        <footer class="footer" ng-include="'footer.html'"></footer>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script>
                    var MyModule = angular.module('MyApp', []);
                    MyModule.controller("MyController", ['$scope', '$http', function ($scope, $http) {

                            $scope.arraypage = "";
                            $scope.varRPP = 10;
                            $scope.ajaxData = "";

                            $scope.productos = function () {
                                $http({
                                    method: 'GET',
                                    withCredentials: true,
                                    url: 'http://localhost:8081/trolleyes/json?ob=producto&op=getpage&rpp=' + $scope.varRPP + '&page=' + $scope.opPage
                                }).then(function (response) {
                                    $scope.status = response.status;
                                    $scope.ajaxDataProductos = response.data.message;
                                }, function (response) {
                                    $scope.ajaxDataProductos = response.data.message || 'Request failed';
                                    $scope.status = response.status;
                                });
                            }

                            $scope.productosLimpiar = function () {
                                $http({
                                    method: 'GET',
                                    withCredentials: true,
                                    url: 'http://localhost:8081/trolleyes/json?ob=producto&op=getpage&rpp=' + $scope.varRPP + '&page=' + $scope.opPage
                                }).then(function (response) {
                                    $scope.status = response.status;
                                    $scope.ajaxDataProductos = "";
                                }, function (response) {
                                    $scope.ajaxDataProductos = response.data.message || 'Request failed';
                                    $scope.status = response.status;
                                });
                            }

                            $scope.paginas = function () {
                                $http({
                                    method: 'GET',
                                    withCredentials: true,
                                    url: 'http://localhost:8081/trolleyes/json?ob=producto&op=getcount'
                                }).then(function (response) {
                                    $scope.status = response.status;
                                    $scope.ajaxData = response.data.message;
                                    var registros = $scope.ajaxData;
                                    var combo = registros / $scope.varRPP;
                                    combo = Math.ceil(combo);

                                    $scope.arraypage = ["--Selecciona--"];
                                    for (var i = 1; i <= combo; i++) {
                                        $scope.arraypage.push(i);
                                    }
                                }, function (response) {
                                    $scope.ajaxData = response.data.message || 'Request failed';
                                    $scope.status = response.status;
                                });
                            }

                            $http({
                                method: 'GET',
                                withCredentials: true,
                                url: 'http://localhost:8081/trolleyes/json?ob=producto&op=getcount'
                            }).then(function (response) {
                                $scope.status = response.status;
                                $scope.ajaxData = response.data.message;
                                var registros = $scope.ajaxData;
                                var combo = registros / $scope.varRPP;
                                combo = Math.ceil(combo);

                                $scope.arraypage = ["--Selecciona--"];
                                for (var i = 1; i <= combo; i++) {
                                    $scope.arraypage.push(i);
                                }
                            }, function (response) {
                                $scope.ajaxData = response.data.message || 'Request failed';
                                $scope.status = response.status;
                            });


                            $scope.crearProductos = function () {
                                $http({
                                    method: 'GET',
                                    withCredentials: true,
                                    url: 'http://localhost:8081/trolleyes/json?ob=producto&op=create'
                                }).then(function (response) {
                                    $scope.status = response.status;
                                    $scope.ajaxDataProductos = response.data.message;
                                }, function (response) {
                                    $scope.ajaxDataProductos = response.data.message || 'Request failed';
                                    $scope.status = response.status;
                                });
                            }


                        }]);
        </script>
    </body>
</html>
