<header ng-include="'js/app/header.html'"></header>

<main role="main" class="container">
    <form name="userForm" class="mx-auto p-5 pb-3 mb-5" ng-show="!edit"
          style="margin-top: 80px; background-color: GhostWhite; width: 70%; border-radius: 7px"> 
        <h4 class="pb-3 d-flex justify-content-center">Edit Factura</h4>

        <div class="form-group"> 
            <label for="id" class="col-form-label">Id</label>
            <input ng-model="id" class="form-control" name="id" type="text" ng-disabled="true" />
        </div>

        <div class="form-group"> 
            <label for="fecha" class="col-form-label">Fecha</label>
            <input ng-model="fecha" class="form-control" name="fecha" type="text" ng-disabled="true" />
        </div>

        <div class="form-group"> 
            <label for="iva" class="col-form-label">IVA</label>
            <input ng-model="iva" class="form-control" name="iva" type="text" ng-required="true" />
            <div ng-show="!userForm.iva.$valid" class="alert alert-danger" role="alert">
                IVA obligatorio
            </div>
        </div>

        <div class="form-group"> 
            <label for="user" class="col-form-label">Usuario</label>
            <input ng-model="user" class="form-control" name="user" type="text" ng-disabled="true" />
        </div>

        <div class="d-flex justify-content-center">
            <button ng-click="guardar()" class="btn btn-info mt-2 ml-0">Guardar</button>
        </div>
    </form>


    <div class="row" ng-show="edit">
        <div class="col-12">
            <div class="card mx-auto" style="margin-top: 100px; background-color: GhostWhite; width: 70%; border: none; border-radius: 7px">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">La factura ha sido editada correctamente.</h4>
                    <div class="d-flex justify-content-center align-items-center pt-3 pb-2 mb-3" role="alert">
                        <button type="button" class="btn btn-info" onclick="window.history.back()">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="footer" ng-include="'js/app/footer.html'"></footer>