<!--<header ng-include="'js/app/header.html'"></header>-->
<header-component></header-component>

<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4" style="margin-top: 80px;">


    <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">New Factura</h1>
    </div>

    <form name="userForm" class="p-5" ng-show="!new"
          style="margin-top: 80px; margin-bottom: 100px; background-color: WHITESMOKE; width: 70%; border-radius: 7px"> 



        <!--        <div class="form-group">
        
                    <label>Fecha</label>
                    <md-datepicker ng-model="fecha" ></md-datepicker>
                </div>-->

        <div class="row">
            <div class="col-12">
                <div class="form-group" ng-class="{ 'has-error' : userForm.fecha.$invalid && !userForm.fecha.$pristine }">
                    <div class="row">
                            <label>Fecha</label>
                            <md-datepicker ng-model="fecha" md-placeholder="Enter date" ng-required="true"></md-datepicker>
                    </div>
                </div>
            </div>
            <div ng-show="userForm.myDate.$valid" class="alert alert-danger" role="alert">
                Selecciona una fecha
            </div>
        </div>

        <div class="form-group"> 
            <label for="iva" class="col-form-label">IVA:</label>
            <input id="iva" ng-model="iva" class="form-control" ng-class="{'is-invalid': userForm.iva.$invalid && !userForm.iva.$pristine}"
                   name="iva" type="text" ng-required="true" placeholder="Introduce un IVA..." />
            <div ng-show="!userForm.iva.$valid && userForm.iva.$dirty && !userForm.iva.$pristine" class="alert alert-danger" role="alert">
                IVA obligatorio
            </div>
        </div>


        <div class="form-group">
            <label>Usuario</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="obj_usuario.login" name="obj_usuario.login" ng-model="obj_usuario.login"
                       ng-click="modal()" disabled/>
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#cadd-location-modal_usu">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>

        <div>
            <button ng-click="guardar()" class="btn btn-info mt-2 ml-0">Guardar</button>
            <button class="btn btn-info mt-2" onClick="javascript:history.go( - 1);">Volver</button>
        </div>
    </form>


    <div class="row" ng-show="new">
        <div class="col-12">
            <div class="card mx-auto" style="margin-top: 100px; background-color: WHITESMOKE; width: 70%; border: none; border-radius: 7px">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">{{resultado}}</h4>
                    <div class="d-flex justify-content-center align-items-center pt-3 pb-2 mb-3" role="alert">
                        <button type="button" class="btn btn-info" onclick="window.history.back()">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>

<!--<footer class="footer" ng-include="'js/app/footer.html'"></footer>-->
<!--<footer-component></footer-component>-->

<!--Componenete modal-->
<cadd-modal-usu class="modal fade ng-isolate-scope" id="cadd-location-modal_usu" tabla="'usuario'" data="obj_usuario" aria-hidden="true"
                style="display: none;"></cadd-modal-usu>