<header ng-include="'js/app/header.html'"></header>

<main role="main" class="container">
    <form name="userForm" class="mx-auto p-5 pb-3 mb-5" ng-show="!edit"
          style="margin-top: 80px; background-color: GhostWhite; width: 70%; border-radius: 7px"> 
        <h4 class="pb-3">Edit Línea</h4>

        <div class="form-group"> 
            <label for="id" class="col-form-label">Id</label>
            <input ng-model="id" class="form-control" name="id" type="text" ng-disabled="true" />
        </div>

        <div class="form-group"> 
            <label for="cantidad" class="col-form-label">Cantidad</label>
            <input ng-model="cantidad" class="form-control" name="cantidad" type="text" ng-required="true" />
            <div ng-show="!userForm.cantidad.$valid" class="alert alert-danger" role="alert">
                Cantidad obligatoria
            </div>
        </div>
        
         <div class="form-group"> 
            <label for="id_producto" class="col-form-label">Producto</label>
            <input ng-model="id_producto" class="form-control" name="id_producto" type="text" ng-required="true" />
            <div ng-show="!userForm.id_producto.$valid" class="alert alert-danger" role="alert">
                Producto obligatorio
            </div>
        </div>

        <div class="form-group"> 
            <label for="id_factura" class="col-form-label">Factura</label>
            <input ng-model="id_factura" class="form-control" name="id_factura" type="text" ng-disabled="true" />
        </div>

        <div>
            <button ng-click="guardar()" class="btn btn-info mt-2 ml-0">Guardar</button>
            <button class="btn btn-info mt-2" onClick="javascript:history.go(-1);">Volver</button>
        </div>
    </form>


    <div class="row" ng-show="edit">
        <div class="col-12">
            <div class="card mx-auto" style="margin-top: 100px; background-color: GhostWhite; width: 70%; border: none; border-radius: 7px">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">La factura ha sido editada correctamente.</h4>
                    <div class="d-flex justify-content-center align-items-center pt-3 pb-2 mb-3" role="alert">
                        <button type="button" class="btn btn-info" onclick="window.history.back()">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="footer" ng-include="'js/app/footer.html'"></footer>