<header ng-include="'js/app/header.html'"></header>
<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4" style="margin-top: 50px">

    <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Edit Línea:<small>  {{ajaxData.login}} </small></h1>
    </div>
    
    <form name="userForm" class="p-5 pb-3 mb-5" ng-show="!edit"
          style="margin-top: 50px; background-color: WHITESMOKE; width: 70%; border-radius: 7px"> 

        <div class="form-group"> 
            <label for="id" class="col-form-label">Id</label>
            <input ng-model="id" class="form-control" name="id" type="text" ng-disabled="true" />
        </div>

        <div class="form-group"> 
            <label for="cantidad" class="col-form-label">Cantidad</label>
            <input ng-model="cantidad" class="form-control" name="cantidad" type="text" ng-required="true" />
            <div ng-show="!userForm.cantidad.$valid" class="alert alert-danger" role="alert">
                Cantidad obligatoria
            </div>
        </div>

        <div class="form-group">
            <label>Producto</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="id_producto" name="id_producto" ng-model="obj_producto.desc"
                       ng-click="modal()"/>
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#cadd-location-modal_pro">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group"> 
            <label for="id_factura" class="col-form-label">Factura</label>
            <input ng-model="id_factura" class="form-control" name="id_factura" type="text" ng-disabled="true" />
        </div>

        <div>
            <button ng-click="guardar()" class="btn btn-info mt-2 ml-0">Guardar</button>
            <button class="btn btn-info mt-2" onClick="javascript:history.go(-1);">Volver</button>
        </div>
    </form>


    <div class="row" ng-show="edit">
        <div class="col-12">
            <div class="card mx-auto" style="margin-top: 100px; background-color: WHITESMOKE; width: 70%; border: none; border-radius: 7px">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">La factura ha sido editada correctamente.</h4>
                    <div class="d-flex justify-content-center align-items-center pt-3 pb-2 mb-3" role="alert">
                        <button type="button" class="btn btn-info" onclick="window.history.back()">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="footer" ng-include="'js/app/footer.html'"></footer>

<!--Componenete modal-->
<cadd-modal-pro class="modal fade ng-isolate-scope" id="cadd-location-modal_pro" tabla="'producto'" data="obj_producto" aria-hidden="true"
                style="display: none;"></cadd-modal-pro>