<!--<header ng-include="'js/app/header.html'"></header>-->
<header-component></header-component>


<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4" style="margin-top: 80px;">
    

    <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">New Línea</h1>
    </div>

    <form name="userForm" class="p-5" ng-show="!new"
          style="margin-top: 80px; margin-bottom: 100px; background-color: WHITESMOKE; width: 70%; border-radius: 7px"> 


<!--        <div class="form-group"> 
            <div class="form-group">
                <label for="dni" class="col-form-label">Fecha:</label>
                <input id="dni" ng-model="dni" class="form-control" ng-class="{'is-invalid': userForm.dni.$invalid && !userForm.dni.$pristine}"
                       name="dni" type="text" ng-required="true"  
                       placeholder="Introduce un DNI..."/>
                <div ng-show="userForm.dni.$error.pattern" class="alert alert-danger" role="alert">
                    Formato DNI no valido
                </div>
                <div ng-show="!userForm.dni.$valid && userForm.nombre.$dirty && !userForm.nombre.$pristine" class="alert alert-danger" role="alert">
                    DNI obligatorio
                </div>
            </div>
        </div>-->

        <div class="form-group"> 
            <label for="cantidad" class="col-form-label">Cantidad</label>
            <input id="cantidad" ng-model="cantidad" class="form-control" ng-class="{'is-invalid': userForm.cantidad.$invalid && !userForm.cantidad.$pristine}"
                   name="cantidad" type="text" ng-required="true" placeholder="Introduce una cantidad..." />
            <div ng-show="!userForm.cantidad.$valid && userForm.cantidad.$dirty && !userForm.cantidad.$pristine" class="alert alert-danger" role="alert">
                Cantidad obligatoria
            </div>
        </div>


        <div class="form-group">
            <label>Producto</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="id_producto" name="id_producto" ng-model="obj_producto.desc"
                       ng-click="modal()" disabled/>
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#cadd-location-modal_pro">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Id Factura</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="id_factura" name="id_factura" ng-model="obj_factura.id"
                       ng-click="modal()" disabled/>
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#cadd-location-modal_fac">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>

        <div>
            <button ng-click="guardar()" class="btn btn-info mt-2 ml-0">Guardar</button>
            <button class="btn btn-info mt-2" onClick="javascript:history.go( - 1);">Volver</button>
        </div>
    </form>


    <div class="row" ng-show="new">
        <div class="col-12">
            <div class="card mx-auto" style="margin-top: 100px; background-color: WHITESMOKE; width: 70%; border: none; border-radius: 7px">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">{{resultado}}</h4>
                    <div class="d-flex justify-content-center align-items-center pt-3 pb-2 mb-3" role="alert">
                        <button type="button" class="btn btn-info" onclick="window.history.back()">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>

<!--<footer class="footer" ng-include="'js/app/footer.html'"></footer>-->
<footer-component></footer-component>

<!--Componenete modal-->
<cadd-modal-pro class="modal fade ng-isolate-scope" id="cadd-location-modal_pro" tabla="'producto'" data="obj_producto" aria-hidden="true"
                style="display: none;"></cadd-modal-pro>
                
<!--Componenete modal-->
<cadd-modal-fac class="modal fade ng-isolate-scope" id="cadd-location-modal_fac" tabla="'factura'" data="obj_factura" aria-hidden="true"
                style="display: none;"></cadd-modal-fac>