<header ng-include="'js/app/header.html'"></header>
<main role="main" class="container">

    <form class="mx-auto p-5" ng-show="!edit"
          style="margin-top: 100px; background-color: GhostWhite; width: 70%; border-radius: 7px;"> 

        <h3 class="pb-3">Edit producto</h3>

        <div class="form-group"> 
            <label for="id" class="col-form-label">Id</label>
            <input ng-model="id" class="form-control" name="id" type="text" ng-disabled="true" />
        </div>


        <div class="form-group"> 
            <label for="codigo" class="col-form-label">Código</label>
            <input ng-model="codigo" class="form-control" name="codigo" type="text">

        </div>
        <div class="form-group"> 
            <label for="desc" class="col-form-label">Descripción</label>
            <input ng-model="desc" class="form-control" name="desc" type="text">

        </div>
        <div class="form-group"> 
            <label for="existencias" class="col-form-label">Existencias</label>
            <input ng-model="existencias" class="form-control" name="existencias" type="text">

        </div>
        <div class="form-group"> 
            <label for="precio" class="col-form-label">Precio</label>
            <input ng-model="precio" class="form-control" name="precio" type="text">

        </div>
        <div class="form-group"> 
            <label for="idTP" class="col-form-label">Id Tipo Producto</label>
            <input ng-model="obj_tipoProducto" class="form-control" name="idTP" type="text">

        </div>


        <button ng-click="guardar()" class="btn btn-info">Guardar</button>
    </form>

</main>

<footer class="footer" ng-include="'js/app/footer.html'"></footer>