<header ng-include="'js/app/header.html'"></header>
<main role="main" class="container">

    <form name="userForm" class="mx-auto p-5" ng-show="!new"
          style="margin-top: 100px; margin-bottom: 100px; background-color: GhostWhite; width: 70%; border-radius: 7px"> 
        <h3 class="pb-3">Nuevo Producto</h3>

        <div class="form-group"> 
            <div class="form-group">
                <label for="codigo" class="col-form-label">Código:</label>
                <input id="dni" ng-model="codigo" class="form-control" ng-class="{'is-invalid': userForm.codigo.$invalid && !userForm.codigo.$pristine}"
                       name="codigo" type="text" ng-required="true" placeholder="Introduce un código..."/>
                <div ng-show="!userForm.codigo.$valid && userForm.codigo.$dirty && !userForm.codigo.$pristine" class="alert alert-danger" role="alert">
                    Código obligatorio
                </div>
            </div>
        </div>

        <div class="form-group"> 
            <label for="nombre" class="col-form-label">Descripción:</label>
            <input id="descripcion" ng-model="descripcion" class="form-control" ng-class="{'is-invalid': userForm.descripcion.$invalid && !userForm.descripcion.$pristine}"
                   name="descripcion" type="text" ng-required="true" placeholder="Introduce una descripción..." />
            <div ng-show="!userForm.descripcion.$valid && userForm.descripcion.$dirty && !userForm.descripcion.$pristine" class="alert alert-danger" role="alert">
                descripción obligatoria
            </div>
        </div>

        <div class="form-group"> 
            <label for="existencias" class="col-form-label">Existencias:</label>
            <input id="existencias" ng-model="existencias" class="form-control" ng-class="{'is-invalid': userForm.existencias.$invalid && !userForm.existencias.$pristine}"
                   name="existencias" type="text" ng-required="true" placeholder="Introduce número de existencias..." />
            <div ng-show="!userForm.existencias.$valid && userForm.existencias.$dirty && !userForm.existencias.$pristine" class="alert alert-danger" role="alert">
                Número de existencias obligatorio
            </div>
        </div>

        <div class="form-group"> 
            <label for="ape2" class="col-form-label">Precio:</label>
            <input ng-model="precio" class="form-control" ng-class="{'is-invalid': userForm.precio.$invalid && !userForm.precio.$pristine}"
                   name="precio" type="text" ng-required="true" placeholder="Introduce un precio..." />
            <div ng-show="!userForm.precio.$valid && userForm.precio.$dirty && !userForm.precio.$pristine" class="alert alert-danger" role="alert">
                Precio obligatorio
            </div>
        </div>

        <div class="form-group">
            <label>Tipo Producto:</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="obj_tipoProducto.desc" name="obj_tipoProducto.desc" ng-model="obj_tipoProducto.desc"
                       ng-click="modal()" disabled/>
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#cadd-location-modal">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>

         <div>
            <button ng-click="guardar()" class="btn btn-info mt-2 ml-0">Guardar</button>
            <button class="btn btn-info mt-2" onClick="javascript:history.go( - 1);">Volver</button>
        </div>
    </form>


    <div class="row" ng-show="new">
        <div class="col-12">
            <div class="card mx-auto" style="margin-top: 100px; background-color: GhostWhite; width: 70%; border: none; border-radius: 7px">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">{{resultado}}</h4>
                    <div class="d-flex justify-content-center align-items-center pt-3 pb-2 mb-3" role="alert">
                        <button type="button" class="btn btn-info" onclick="window.history.back()">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer class="footer" ng-include="'js/app/footer.html'"></footer>

<!--Componenete modal-->
<cadd-modal-var class="modal fade ng-isolate-scope" id="cadd-location-modal" tabla="'tipoproducto'" data="obj_tipoProducto" aria-hidden="true"
                style="display: none;"></cadd-modal-var>