<header ng-include="'js/app/header.html'"></header>

<div class="container-fluid">

    <div class="row">   

        <main role="main" class="col-md-9 ml-sm-auto col-lg-12 px-4" style="margin-top: 50px">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Productos: <small>En la BBDD hay {{ajaxData}} productos</small></h1> 
                <button class="btn btn-dark" ng-click="crearProductos()">Crear Productos</button>  
                <!--<div class="btn-toolbar mb-2 mb-md-0">-->

            </div>

        </main>
    </div>

    <!--<button class="btn btn-info ml-0" ng-click="productos()">Mostrar Productos</button>-->
    <!--<button class="btn btn-light" ng-click="productosLimpiar()">Limpiar Productos</button>-->
    <!--<button class="btn btn-dark" ng-click="crearProductos()">Crear Productos</button>-->  

    <div class="row"> 
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center px-4 pt-3 pb-2 mb-3 col-lg-12">
            <!--Ordenación-->
            <form>
                <div class="form-row ml-2">
                    <div class="form-group">
                        <select class="form-control selector" ng-change="update()" ng-model="opciones">
                            <option>Ordenar...</option>
                            <option value="codigo">Ordenar por código</option>
                            <option value="desc">Ordenar por descripción</option>
                            <option value="existencias">Ordenar por existencias</option>
                            <option value="precio">Ordenar por precio</option>
                            <option value="id_tipoProducto">Ordenar por tipo producto</option>
                        </select>
                    </div>
                </div>
            </form>


            <!--Registros por página-->
            <nav aria-label="RegistrosPorPagina">
                <ul class="pagination" style="float: right;">
                    <li ng-class="{'active':(rpp == 10)}" class="page-item"><a class="page-link" href="{{ob + '/' + op + '/10/' + page}}">10</a></li>
                    <li ng-class="{'active':(rpp == 50)}" class="page-item"><a class="page-link" href="{{ob + '/' + op + '/50/' + page}}">50</a></li>
                    <li ng-class="{'active':(rpp == 100)}" class="page-item"><a class="page-link" href="{{ob + '/' + op + '/100/' + page}}">100</a></li>
                </ul>
            </nav>
        </div>

    </div>


    <!--Páginación vecindario-->     
    <nav aria-label="paginacion">
        <ul class="pagination justify-content-center">
            <!--                <li class="page-item">
                                <a class="page-link" ng-show="page > 2" href="producto/plist/{{rpp}}/1/{{order}}"><<</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" ng-show="page > 1" href="producto/plist/{{rpp}}/{{page - 1}}/{{order}}"><</a>
                            </li>-->
            <li class="page-item" ng-class="{'disabled': (page <= 1)}">
                <a class="page-link" href="producto/plist/{{rpp}}/1/{{order}}"><span>&laquo;</span></a>
            </li>
            <li class="page-item" ng-class="{'disabled': (page <= 1)}">
                <a class="page-link" href="producto/plist/{{rpp}}/{{page - 1}}/{{order}}"><span>&lsaquo;</span></a>
            </li>

            <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                <a class="page-link" href="producto/plist/{{rpp}}/{{p}}/{{order}}">{{p}}</a>
            </li>
            <li class="page-item"  ng-class="{'disabled':(page == totalPages)}">
                <a class="page-link" href="producto/plist/{{rpp}}/{{page--1}}/{{order}}"><span>&rsaquo;</span></a>
            </li>
            <li class="page-item" ng-class="{'disabled':(page == totalPages)}">
                <a class="page-link" href="producto/plist/{{rpp}}/{{totalPages}}/{{order}}"><span>&raquo;</span></a>
            </li>
            <!--                    <li class="page-item">
                                    <a class="page-link" ng-show="page != totalPages" href="producto/plist/{{rpp}}/{{page--1}}/{{order}}"><b>></b></a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" ng-show="page != totalPages - 1 && page != totalPages" href="producto/plist/{{rpp}}/{{totalPages}}/{{order}}"><b>>></b></a>
                                </li>-->
        </ul>
    </nav>


    <!--Paginación normal-->
    <nav aria-label="paginacion">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" ng-show="page > 1" href="producto/plist/{{rpp}}/{{page - 1}}">Previous</a>
            </li>

            <li class="page-item" ng-class="{'active':(p == page)}" ng-repeat="p in list">
                <a class="page-link" href="producto/plist/{{rpp}}/{{p}}">{{p}}</a>
            </li>

            <li class="page-item">
                <a class="page-link" ng-show="page != totalPages" href="producto/plist/{{rpp}}/{{page--1}}">Next</a>
            </li>
        </ul>
    </nav>


    <div class="row form-group text-center">
        <table class="table table-striped mx-auto mt-3">
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Descripción</th>
                <th>Existencias</th>
                <th>Precio</th>
                <th>Tipo Producto</th>
                <th>Visualizar</th>
                <th>Editar</th>
            </tr>
            <tr ng-repeat="fila in ajaxDataProductos">
                <td>{{fila.id}}</td>
                <td>{{fila.codigo}}</td>
                <td>{{fila.desc}}</td>
                <td style="text-align: center">{{fila.existencias}}</td>
                <td>{{fila.precio}}</td>
                <td style="text-align: center">{{fila.id_tipoProducto}}</td>
                <td><a href="{{'/trolleyes-client/' + ruta + '/producto/view/' + fila.id}}" class="btn btn-info" role="button">Ver</a></td>
                <td><a href="{{'/trolleyes-client/' + ruta + '/producto/edit/' + fila.id}}" class="btn btn-info" role="button">Editar</a></td>
            </tr>
        </table>
    </div>

</div>

<footer class="footer" ng-include="'js/app/footer.html'"></footer>