<header ng-include="'js/app/header.html'"></header>
<main role="main" class="container">


    <form style="margin-top: 80px;">

        <label for="id">Id</label>
        <input name="id" type="text" value="{{ajaxData.id}}" disabled>

        <label for="desc">Descripción</label>
        <input name="desc" type="text" value="{{ajaxData.desc}}">
        
        <button ng-click="guardar()" class="btn btn-primary">Guardar</button>
        
        <div ng-model="resultado"/>

    </form>

</main>

<footer class="footer" ng-include="'js/app/footer.html'"></footer>