<header ng-include="'js/app/header.html'"></header>

<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4" style="margin-top: 80px;">

    <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Edit Tipo Producto:<small>  {{ajaxData.login}} </small></h1>
    </div>

    <form name="userForm" class="p-5" ng-show="!edit"
          style="margin-top: 80px; background-color: WHITESMOKE; width: 70%; border-radius: 7px"> 

        <div class="form-group"> 
            <label for="id" class="col-form-label">Id</label>
            <input ng-model="id" class="form-control" name="id" type="text" ng-disabled="true" />
        </div>


        <div class="form-group"> 
            <label for="desc" class="col-form-label">Descripción</label>
            <input ng-model="desc" class="form-control" name="desc" type="text" ng-required="true" />
            <div ng-show="!userForm.desc.$valid" class="alert alert-danger" role="alert">
                Descripción obligatoria
            </div>
        </div>

        <button ng-click="guardar()" type="button" class="btn btn-info mt-2 ml-0">Guardar</button>
        <button class="btn btn-info mt-2" onClick="javascript:history.go(-1);">Volver</button>
    </form>


    <div class="row" ng-show="edit">
        <div class="col-12">
            <div class="card mx-auto" style="margin-top: 100px; background-color: WHITESMOKE; width: 70%; border: none; border-radius: 7px">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">El Tipo de Producto ha sido editado correctamente.</h4>
                    <div class="d-flex justify-content-center align-items-center pt-3 pb-2 mb-3" role="alert">
                        <button type="button" class="btn btn-info" onclick="window.history.back()">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<!--<footer class="footer" ng-include="'js/app/footer.html'"></footer>-->
<footer-component></footer-component>